body {
  margin: 0;
  background-color: #f9f8f4;
  font-family: "Inter", sans-serif;
  color: #1c232f;
}

h1,
h2,
h3 {
  font-family: "Manrope", sans-serif;
}

h1 {
  font-size: 64px;
  margin: 0px;
  text-transform: uppercase;
  color: #f9f8f4;
}

h2,
h3 {
  color: #1c232f;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
}

p,
li {
  line-height: 1.5em;
}

#recipe-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

ul.list-inline li {
  display: inline;
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.header {
  background-color: #1c232f;
  padding: 2rem 0;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  font-style: italic;
  color: #f9f8f4;
  margin: 0;
}

.background-secondary {
  background-color: #886176;
  color: #f9f8f4;
}

.badge {
  border-radius: 4px;
  padding: 0.5em 1em;
}

.mr-1em {
  margin-right: 1em;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.card {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 2rem;
}

.cards-preparation {
  display: flex;
  gap: 1rem;
}

.card-preparation {
  flex: 1;
  background-color: #f9f8f4;
  padding: 2rem;
  border-radius: 2px;
  border-top: 5px solid #886176;
}

.card-preparation h3 {
  color: #886176;
}

.navbar {
  background-color: #f9f8f4;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 80px;
}

.navbar .links {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.navbar .links a {
  color: #1c232f;
  font-weight: bold;
  padding: 0.5rem 0;
  border-bottom: solid 3px transparent;
  transition: all 0.6s;
}

.navbar .links a:hover {
  border-bottom: solid 2px #0a1b8b;
}

.my-2rem {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-4rem {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.py-2rem {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  border-radius: 2px;
  padding: 1rem 2rem;
  font-weight: 600;
}

.btn-primary {
  border: solid 2px #886176;
  color: #886176;
  transition: all 0.3s;
}

.btn-primary:hover {
  color: #f9f8f4;
  background-color: #886176;
  transition: all 0.3s;
}
